<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>readKey</key>
	<string></string>
	<key>statistics</key>
	<dict>
		<key>statsEnabled</key>
		<true/>
		<key>updateInterval</key>
		<integer>0</integer>
		<key>updateIntervalForFailure</key>
		<integer>0</integer>
		<key>statsInterval</key>
		<integer>0</integer>
		<key>statsIntervalForFailure</key>
		<integer>0</integer>
		<key>updateDelay</key>
		<integer>0</integer>
		<key>statsDelay</key>
		<integer>0</integer>
		<key>minimalStatsSize</key>
		<integer>0</integer>
		<key>maximalStatsSize</key>
		<integer>0</integer>
		<key>updateForActivityOnly</key>
		<false/>
		<key>sendStatsRegularly</key>
		<false/>
	</dict>
</dict>
</plist>
