<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>readKey</key>
	<string>a8695328197540575958-6391fb98aa69843ce3efd43de6443dcee2918d49ca0df347a1988c6d7ba93377</string>
	<key>writeKey</key>
	<string></string>
</dict>
</plist>
